.bestsellers__title {
  font-size: $font-size-xl;
  font-weight: $font-medium;
}

.bestsellers__descr {
  font-family:  $font-family-additional;
  font-size: $font-size-l;
}

.bestsellers__link {
  font-family:  $font-family-additional;
  font-weight: $font-medium;
}