/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v17-latin_cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway-v17-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v17-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v17-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v17-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v17-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v17-latin_cyrillic-500.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MPLUS1p-Regular.ttf') format('truetype');
}

/* raleway-500 - latin_cyrillic */
@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MPLUS1p-Medium.ttf') format('truetype');
}