$white:                    #ffffff;
$gray:                     #f2f2f2;
$gray-dark:                #444444;
$gray-darken:              #111111;

$color-main:               #122947;
$color-additional:         #959595;
$body-bg:                  #F8F8F6;
$body-bg-add:              #F4F1ED;

$border:                   1px solid rgba(0, 0, 0, 0.1);

$font-family:              'Raleway', 'Arial', sans-serif;
$font-family-additional:   "M PLUS 1p", "Arial", sans-serif;

$font-regular:             400;
$font-medium:              500;


$font-size:                16px;
$font-size-xs:             12px;
$font-size-sm:             13px;
$font-size-m:              14px;
$font-size-l:              18px;
$font-size-xl:             32px;
$font-size-xxl:            28px;
$font-size-xxxl:           58px;

$line-height:              1.286em;

$mobile-width-only:        767px;
$tablet-width:             $mobile-width-only + 1px;
$desktop-width:            1440px;
