doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Натуральная косметика Maroon
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel="stylesheet" href="static/css/style.css")
  body.layout
    header.main-header.header-transparent
      button.main-header__menu-button(aria-label="Меню")
      a.logo(href="#" aria-label="Логотип Maroon")
      nav.main-header__nav.nav
        .nav__overlay
        .nav__content
          ul.nav__list
            li.nav__item
              a.nav__link(href="#") Каталожище
            li.nav__item
              a.nav__link(href="#") О нас
            li.nav__item
              a.nav__link(href="#") Контакты
          ul.nav__contacts.social.social--for-menu
            li.social__item.social__item--min
              a.social__link(href="#" aria-label="Facebook")
            li.social__item.social__item--min
              a.social__link(href="#" aria-label="Instagram")
            li.social__item.social__item--min
              a.social__link(href="#" aria-label="Twitter")
      ul.main-header__actions.user-actions
        li.user-actions__item
          a.user-actions__link.user-actions--user(href="#" aria-label="Личный кабинет")
        li.user-actions__item
          a.user-actions__link.user-actions--cart(href="#" aria-label="Корзина")
    main.main.main_no-top-spaced
      section.main__block.info
        .info__container
          .info__content
            h1.info__title MAROON
            p.info__descr Натуральная косметика для бережного ухода за кожей
            a.info__button.button(href="#") Подробнее
          a.info__item.promo-card(href="#")
            img.promo-card__img(src="#" alt="Уход для лица")
            .promo-card__text
              span Уход для лица
          a.info__item.promo-card(href="#")
            img.promo-card__img(src="#" alt="Уход для лица")
            .promo-card__text
              span Уход для тела
      section.main__block.bestsellers
        .bestsellers__text
          h2.bestsellers__title Бестселлеры
          p.bestsellers__descr Легендарные продукты, завоевавшие любовь наших клиентов
          a.bestsellers__link.button(href="#" aria-label="Смотреть все") Смотреть все
        .bestseller__slider.slider.swiper-container.swiper-container--initialized.swiper-container--horizontal
          .swiper-wrapper.slider__wrapper
            .swiper-slide.slider__item.product-card
              img.product-card__img(src="#" alt="крем для лица High")
              h3.product-card__title High
              p.product-card__descr крем для лица
              a.product-card__link(href="#" aria-label="Подробнее") Подробнее
            .swiper-slide.slider__item.product-card
              img.product-card__img(src="#" alt="минеральная пудра Rest")
              h3.product-card__title Rest
              p.product-card__descr минеральная пудра
              a.product-card__link(href="#" aria-label="Подробнее") Подробнее
            .swiper-slide.slider__item.product-card
              img.product-card__img(src="#" alt="крем для лица Rose")
              h3.product-card__title Rose
              p.product-card__descr крем для лица
              a.product-card__link(href="#" aria-label="Подробнее") Подробнее
            .swiper-slide.slider__item.product-card
              img.product-card__img(src="#" alt="масло для тела Milk")
              h3.product-card__title Milk
              p.product-card__descr масло для тела
              a.product-card__link(href="#" aria-label="Подробнее") Подробнее
          .slider__button-container
            .slider__button.slider__button--prev
            .slider__button.slider__button--next
        a.bestsellers__link.bestsellers__link--mobile.button(href="#" aria-label="Смотреть все") Смотреть все
      section.main__block.promo
        .promo__content
          h2.promo__title Встречайте весну вместе с нами
          p.promo__text Попробуйте новую коллекцию ухаживающих средств для лица с SPF защитой
          a.promo__button.button
      section.main__block.subscribtion
        .subscribtion__container
          h2.subscribtion__title Индивидуальный уход
          p.subscribtion__text.subscribtion__text--hidden-mobile Не всегда очевидно, какие элементы и минералы необходимы коже, а многочисленные эксперименты с разными средствами только ухудшают ее качество.
          p.subscription__text Заполните анкету, и мы подберем уход, подходящий именно вам, учитывая ваш образ жизни, место жительства и другие факторы.
          a.subscription__link(href="#" aria-label="Заполнить анкету") Заполнить анкету
      section.main__block.history
        .history__container
          h2.visually-hidden О Maroon
          p.history__quote “Мы стремимся сделать уход за кожей доступным и приятным ритуалом для всех, кто хочет заботиться о себе и своем теле”
          a.history__link.button(href="#" aria-label="Наша история") Наша история
      section.main__block.follow
        .follow__container
          .follow__img-wrapper
          .follow__content
            h2.follow__title Присоединяйтесь к нам
            P.follow__text Подпишитесь на наш аккаунт @marooncare и узнавайте о новиках и акциях первыми
            a.follow__link.button(href="#" aria-label="Подписаться") Подписаться
      section.main__block.contacts
        .contacts__container
          .contacts__content
            h2.contacts__title Контакты
            ul.contacts__list
              li.contacts__item
                h3.contacts__item-title Адрес
                p.contacts__item-text Санкт-Петербург
                p.contacts__item-address ул. Большая Конюшенная 19
              li.contacts__item
                h3.contacts__item-title Телефон
                a.contacts__link(href="tel:+79006344185" aria-label="Телефон") +7 (900) 634-41-85
              li.contacts__item
                h3.contacts__item-title E-mail
                a.contacts__link(href="mailto:79006344185@yandex.ru" aria-label="E-mail") 79006344185@yandex.ru
            ul.contacts__social.social
              li.social__item
                a.social__link(href="#" aria-label="Facebook")
              li.social__item
                a.social__link(href="#" aria-label="Instagram")
              li.social__item
                a.social__link(href="#" aria-label="Twitter")
          #map.contacts__map-wrapper.map
    footer.main-footer
      .main-footer__content
        .main-footer__content-inner.wrapper
          a.logo(href="#" aria-label="Логотип Maroon")
          ul.main-footer__list
            li.main-footer__item
              a.main-footer__link(href="#") Каталог
            li.main-footer__item
              a.main-footer__link(href="#") О нас
            li.main-footer__item
              a.main-footer__link(href="#") Магазины
            li.main-footer__item
              a.main-footer__link(href="#") Контакты
          ul.social__list
            li.social__item
              a.social__link(href="#" aria-label="Facebook")
            li.social__item
              a.social__link(href="#" aria-label="Instagram")
            li.social__item
              a.social__link(href="#" aria-label="Twitter")
      .main-footer__copyright
        .main-footer__copyright-inner.wrapper
          p Maroon Ⓒ 2020 Все права защищены
          p
            a.main-footer__copyright-link(href="#") Политика конфиденциальности
