.main-footer {
  background-color: $body-bg-add;
}

.main-footer__list {
  list-style: none;
}

.main-footer__copyright {
  color: $color-additional;
}

.main-footer__copyright-link {
  color: $color-additional;
}
